*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgb(62, 58, 58);
    display: flex;
    height: 50px;
    align-items: center;
    justify-content:space-around;

}
.logo{
    width: 70px;
}
.nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 12px;
}
.naav{
    padding-right: 10px;
}

.banner{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    background-image: url("./images/background.png"), linear-gradient( 45deg, black, rgb(65, 55, 55));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-logo{
    height: 200px;
    width: 200px;
}
.info{
    color: white;
}
.h1{
    font-size: 36px;
}
.p{
    font-size: 12px;
    margin-top: 10px;
}
.btn{
    background-color: red;
    color: white;
    border: none;
    margin: 10px;
    padding: 10px;
    font-size: 8px;
    border-radius: 2px;
    width: 80px;
}
.section{
    height: 200px;
}
.section1{
    
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.photo{
    height: 200px;
    width: 200px;
}
.h1{
    text-align: center;
    margin: 20px;
}
